body{
    font-family: "Roboto", sans-serif;
    color: #434445;
    line-height: 1.5;
    background-color: #FFFFFF;
}
h1,h2,h3{
    font-family: "Roboto", sans-serif;
    color: #2E2F42;
}

a{
    text-decoration: none;
    color: inherit;
    
}

ul{
    list-style-type: none;
}