#team{
    background-color: #F4F4FD;
}

#team h2{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.72px;
    text-align: center;
}

#team li{
    background-color: #FFFFFF;
}

#team h3{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.4;
    text-align: center;
}

#team p{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32;
    text-align: center;
}